<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.CustomerDao">

    <update id="updateOne" parameterType="CustomerPO">
        update customer
        <set>
            <if test="type != null">`type` = #{type},</if>
            <if test="level != null">`level` = #{level},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="address != null">`address` = #{address},</if>
            <if test="zipcode != null">`zipcode` = #{zipcode},</if>
            <if test="lineOfCredit != null">`line_of_credit` = #{lineOfCredit},</if>
            <if test="receivable != null">`receivable` = #{receivable},</if>
            <if test="payable != null">`payable` = #{payable},</if>
            <if test="operator != null">`operator` = #{operator},</if>
        </set>
        where id = #{id}
    </update>

    <select id="findOneById" resultType="com.nju.edu.erp.model.po.CustomerPO">
        select * from customer where id=#{supplier}
    </select>

    <select id="findAllByType" resultType="com.nju.edu.erp.model.po.CustomerPO">
        select * from customer where `type` = #{type}
    </select>

    <insert id="createCustomer" parameterType="CustomerPO">
        insert into customer (`id`, `type`, `level`, `name`, `phone`,
            `address`, `zipcode`, `email`, `line_of_credit`, `receivable`, `payable`, `operator`)
        values (#{id}, #{type}, #{level}, #{name}, #{phone}, #{address}, #{zipcode}, #{email},
            #{lineOfCredit}, #{receivable}, #{payable}, #{operator})
    </insert>

    <delete id="deleteCustomerById">
        delete from customer where id = #{id}
    </delete>

    <resultMap id="CustomerPO" type="com.nju.edu.erp.model.po.CustomerPO">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="level" property="level"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="zipcode" property="zipcode"/>
        <result column="email" property="email"/>
        <result column="line_of_credit" property="lineOfCredit"/>
        <result column="receivable" property="receivable"/>
        <result column="payable" property="payable"/>
        <result column="operator" property="operator"/>
    </resultMap>

</mapper>