<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.EmployeeDao">

    <select id="findAllEmployees" resultType="com.nju.edu.erp.model.po.EmployeePO">
        select *
        from employee
    </select>

    <select id="getPunchByEmployeeId" resultType="com.nju.edu.erp.model.po.EmployeePunchPO">
        select *
        from employee_punch
        where `eid` = #{eid}
    </select>

    <select id="getPunchById" resultType="com.nju.edu.erp.model.po.EmployeePunchPO">
        select *
        from employee_punch
        where `id` = #{id}
    </select>

    <select id="findEmployeeById" resultType="com.nju.edu.erp.model.po.EmployeePO">
        select *
        from employee
        where `id` = #{id}
    </select>

    <insert id="punch" parameterType="com.nju.edu.erp.model.po.EmployeePunchPO"
            useGeneratedKeys="true" keyProperty="id">
        insert into employee_punch (`eid`, `punch_time`)
        values (#{eid}, #{punchTime})
    </insert>

    <insert id="createEmployee" parameterType="EmployeePO" useGeneratedKeys="true" keyProperty="id">
        insert into employee (`name`, `gender`, `birthday`, `phone`, `role`, `basic_salary`,
                              `post_salary`, `salary_granting_mode`, `salary_calculating_mode`, `account`)
        values (#{name}, #{gender}, #{birthday}, #{phone}, #{role}, #{basicSalary},
                #{postSalary}, #{salaryGrantingMode}, #{salaryCalculatingMode}, #{account})
    </insert>

    <delete id="deleteEmployeeById">
        delete
        from employee
        where id = #{id}
    </delete>

    <update id="updateEmployee" parameterType="EmployeePO">
        update employee
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="gender != null">`gender` = #{gender},</if>
            <if test="birthday != null">`birthday` = #{birthday},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="role != null">`role` = #{role},</if>
            <if test="basicSalary != null">`basic_salary` = #{basicSalary},</if>
            <if test="postSalary != null">`post_salary` = #{postSalary},</if>
            <if test="salaryGrantingMode != null">`salary_granting_mode` = #{salaryGrantingMode},</if>
            <if test="salaryCalculatingMode != null">`salary_calculating_mode` = #{salaryCalculatingMode},</if>
            <if test="account != null">`account` = #{account}</if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="EmployeePO" type="com.nju.edu.erp.model.po.EmployeePO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="role" property="role"/>
        <result column="basic_salary" property="basicSalary"/>
        <result column="post_salary" property="postSalary"/>
        <result column="salary_granting_mode" property="salaryGrantingMode"/>
        <result column="salary_calculating_mode" property="salaryCalculatingMode"/>
        <result column="account" property="account"/>
    </resultMap>

    <resultMap id="EmployeePunchPO" type="com.nju.edu.erp.model.po.EmployeePunchPO">
        <id column="id" property="id"/>
        <result column="eid" property="eid"/>
        <result column="punch_time" property="punchTime"/>
    </resultMap>

</mapper>