<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.ProductDao">
    <update id="updateById" parameterType="ProductPO">
        update product
        <set>
            <if test="name != null">`name` = #{name}, </if>
            <if test="type != null">`type` = #{type}, </if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="purchasePrice != null">purchase_price = #{purchasePrice},</if>
            <if test="retailPrice != null">retail_price = #{retailPrice},</if>
            <if test="recentPp != null">recent_pp = #{recentPp},</if>
            <if test="recentRp != null">recent_rp = #{recentRp},</if>
        </set>
        where id = #{id}
    </update>

    <insert id = "createProduct" parameterType="ProductPO">
        insert into product (id, `name`, category_id, `type`, quantity, purchase_price, retail_price)
        values (#{id}, #{name}, #{categoryId}, #{type}, 0, #{purchasePrice}, #{retailPrice})
    </insert>

    <select id = "findById" resultMap="ProductPO">
        select * from product where id = #{id}
    </select>

    <select id="findAll" resultMap="ProductPO">
        select * from product
    </select>

    <delete id="deleteById">
        delete from product where id = #{id}
    </delete>

    <resultMap id="ProductPO" type="com.nju.edu.erp.model.po.ProductPO">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="type" property="type"></result>
        <result column="quantity" property="quantity"></result>
        <result column="purchase_price" property="purchasePrice"></result>
        <result column="retail_price" property="retailPrice"></result>
        <result column="recent_pp" property="recentPp"></result>
        <result column="recent_rp" property="recentRp"></result>
    </resultMap>
</mapper>