<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.WarehouseInputSheetDao">
    <insert id="save" parameterType="WarehouseInputSheetPO">
        insert into warehouse_input_sheet (id, batch_id, operator, create_time, purchase_sheet_id, state)
        values (#{id},#{batchId},#{operator},#{createTime},#{purchaseSheetId},#{state})
    </insert>

    <update id="updateById">
        update warehouse_input_sheet set batch_id = #{batchId}, operator = #{operator}, create_time = #{createTime},
        purchase_sheet_id = #{purchaseSheetId}, `state` = #{state} where id = #{id};
    </update>


    <select id="getLatest" resultMap="WarehouseInputSheetPO">
        select * from warehouse_input_sheet order by id desc limit 0,1 ;
    </select>

    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id">
        insert into warehouse_input_sheet_content (wi_id, pid, quantity, purchase_price, production_date, remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.wiId},#{item.pid},#{item.quantity},#{item.purchasePrice},#{item.productionDate},#{item.remark})
        </foreach>
    </insert>

    <select id="getDraftSheets" resultMap="WarehouseInputSheetPO">
        select * from warehouse_input_sheet where `state` = #{state};
    </select>

    <select id="getAllSheets" resultMap="WarehouseInputSheetPO">
        select * from warehouse_input_sheet;
    </select>

    <select id="getSheet" resultType="com.nju.edu.erp.model.po.WarehouseInputSheetPO">
        select * from warehouse_input_sheet where id = #{id} ;
    </select>

    <select id="getAllContentById" resultType="com.nju.edu.erp.model.po.WarehouseInputSheetContentPO">
        select * from warehouse_input_sheet_content where wi_id = #{warehouseInputSheetId} ;
    </select>


    <!--待补充语句：库存查看：查询指定时间段内出/入库数量/金额/商品信息/分类信息-->
    <!--
    注意：
    1.结果集与WarehouseIODetailPO对应，格式为：type(有"warehouse_input"和"warehouse_output"两个值),sheet_id,product_name,category_name,quantity,unit_price,total_price,create_time
    2.出入库单状态必须为"审批完成",才算是完成一次出库或者入库操作
    -->
    <select id="getWarehouseIODetailByTime" resultType="com.nju.edu.erp.model.po.WarehouseIODetailPO">
        select 'warehouse_input' type,
        warehouse_input_sheet.id sheet_id,
        product.name product_name,
        category.name category_name,
        warehouse_input_sheet_content.quantity,
        warehouse_input_sheet_content.purchase_price unit_price,
        warehouse_input_sheet_content.purchase_price * warehouse_input_sheet_content.quantity total_price,
        warehouse_input_sheet.create_time,
        '0' batch_id
        from warehouse_input_sheet, warehouse_input_sheet_content, product, category
        where
        state = '审批完成' and
        warehouse_input_sheet.id = warehouse_input_sheet_content.wi_id and
        warehouse_input_sheet_content.pid = product.id and
        product.category_id = category.id and
        warehouse_input_sheet.create_time &lt;= #{endTime} and warehouse_input_sheet.create_time &gt;= #{beginTime}

        union

        select 'warehouse_output' type,
        warehouse_output_sheet.id sheet_id,
        product.name product_name,
        category.name category_name,
        warehouse_output_sheet_content.quantity,
        warehouse_output_sheet_content.sale_price unit_price,
        warehouse_output_sheet_content.sale_price * warehouse_output_sheet_content.quantity total_price,
        warehouse_output_sheet.create_time,
        warehouse_output_sheet_content.batch_id
        from warehouse_output_sheet, warehouse_output_sheet_content, product, category
        where
        state = '审批完成' and
        warehouse_output_sheet.id = warehouse_output_sheet_content.wo_id and
        warehouse_output_sheet_content.pid = product.id and
        product.category_id = category.id and
        warehouse_output_sheet.create_time &lt;= #{endTime} and warehouse_output_sheet.create_time &gt;= #{beginTime};
    </select>


    <!--待补充语句：库存查看:一个时间段内的入库数量合计-->
    <!--
    注意：
    2.入库单状态必须为"审批完成",才算是完成一次入库操作
    -->
    <select id="getWarehouseInputProductQuantityByTime" resultType="java.lang.Integer">
        select sum(warehouse_input_sheet_content.quantity) from warehouse_input_sheet, warehouse_input_sheet_content
        where state = '审批完成' and
        warehouse_input_sheet.id = warehouse_input_sheet_content.wi_id and
        create_time &lt;= #{endTime} and create_time &gt;= #{beginTime};
    </select>


    <resultMap id="WarehouseInputSheetPO" type="com.nju.edu.erp.model.po.WarehouseInputSheetPO">
        <id column="id" property="id"/>
        <result column="batch_id" property="batchId"/>
        <result column="operator" property="operator"/>

        <result column="create_time" property="createTime"/>

        <result column="purchase_sheet_id" property="purchaseSheetId"/>

        <result column="state" property="state"/>
    </resultMap>

    <resultMap id="WarehouseIODetailPO" type="com.nju.edu.erp.model.po.WarehouseIODetailPO">
        <result column="type" property="type"/>
        <result column="sheet_id" property="sheetId"/>
        <result column="product_name" property="productName"/>
        <result column="category_name" property="categoryName"/>
        <result column="quantity" property="quantity"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="total_price" property="totalPrice"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>